body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

div {
    /* border: 1px solid green; */
    flex-grow: 1;
}

.footer {
    flex-grow: 0;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 9px;
}

.footer,
.header {
    background-color: #1f2937;
    color: white;
}